name: Config and SQF Check

on: [push, pull_request]

jobs:
  post:
    name: Check Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-ruby@v1
      - name: Send Discord Notification
        if: always()
        env:
          JOB_STATUS: ${{ job.status }}
          WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}
          HOOK_OS_NAME: ${{ runner.os }}
          WORKFLOW_NAME: ${{ github.workflow }}
        run: |
          echo Status: $JOB_STATUS
          git clone https://github.com/DiscordHooks/github-actions-discord-webhook.git webhook
          bash webhook/send.sh $JOB_STATUS $WEBHOOK_URL
        shell: bash
